:root {
  --brand-colors-pink: #f67acb;
  --gray-colors-50: #e6ebf2;
  --gray-colors--100: #050110;
  --gray-colors-300: #393c40;
  --gray-colors-400: #5c6066;
  --gray-colors-800: #f7f8fa;
  --white-colors-text: rgba(255, 255, 255, 0.7)
  --white-colors-main: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1246px; /*original 1216, porém para deixar o site responsivo no mobile acrescenta devido ao padding de 15px */
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2, h3 {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  line-height: 125%;
  color: #fff;
  letter-spacing: -1px;
}

h1 {  
  font-size: 4.8rem;  
  color: var(--gray-colors--100);
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;  
}

.btn-primary {
  font-family: 'Sora', sans-serif;
  display: inline-block;
  background-color: var(--brand-colors-pink);
  padding: 1.2rem 3.4rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: var(--gray-colors--100);
}

.menu-item {
  display: inline-block;
  background-color: var(--gray-colors-50);
  padding: 1.2rem 2.4rem;
  font-size: 1.5rem;
  line-height: 105%;
  letter-spacing: -0.01rem;
  color: var(--gray-colors-400); 
}

/* Style header */

header {
  width: 100%;
  height: 8.8rem;
  background-color: var(--gray-colors-800);

  display: flex;
} 

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
}

header .menu-mobile {
  display: none;
}

header nav ul {
  display: flex;
  margin-right: 32px;
}

header nav ul li + li {
  margin-left: 32px;
}

header nav .btn-primary {
  padding: 0.9rem 3.4rem;
}

/* Style header fim */

/* Style hero */
.s-hero {
  padding: 7.2rem 0;
}

.s-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-hero .text {
  width: 100%;
  max-width: 64rem;
}

.s-hero .text h1 {
  margin-bottom: 2rem;
}

.s-hero .text p {
  margin-bottom: 5.6rem;
  max-width: 48.8rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--gray-colors--100);
}

.s-hero .text .btn-primary {
  padding: 1.7rem 3.7rem;
}

.s-hero .image {
  width: 100%;
  max-width: 48rem;
  height: 49.6rem;
  background-color: var(--gray-colors-800);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style hero fim */
.s-card-featured {
  background-color: var(--gray-colors--100);
  padding-top: 10.4rem;
  padding-bottom: 12rem;
}

.s-card-featured .main-area {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 12.5rem;
}


.s-card-featured .title {
  display: flex;
  flex-direction: column;
}

.s-card-featured .title.center{
  align-items: center;
}

.s-card-featured .title p {
  margin-top: 0.8rem;
}

.s-card-featured p {
  color: var(--gray-colors-800);
}

.s-card-featured .all-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
}

.s-card-featured .all-cards .card {
  width: 100%;
  max-width: 38.4rem;
  height: 38.2rem;
  background-color: rgba(28, 29, 31, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 6.4rem;
}

.s-card-featured .all-cards .card.white-card {
  background-color: #fff;
}

.s-card-featured .all-cards .card.white-card h3 {
  color: var(--gray-colors--100);
}

.s-card-featured .all-cards .card.white-card p {
  color: var(--gray-colors--300);
}

.s-card-featured .all-cards .card .info {
  margin-top: 4rem;
  max-width: 28.8rem;
}

.s-card-featured .all-cards .card .info h3 {
  text-align: center;
}

.s-card-featured .all-cards .card .info p {
  text-align: center;
  margin-top: 0.8rem;
  line-height: 150%;
}












@media (max-width: 1200px) {
  .s-hero .text {
    max-width: 49%;
  }

  .s-card-featured .all-cards {
    width: 100%;
  }

  .s-card-featured .all-cards .card {
    width: 32%;
  }
}

@media (max-width: 991px) {
  header nav {
    display: none;
  }
  header .menu-mobile {
    display: block;
  }

  .s-hero .container {
    flex-direction: column;
  }

  .s-hero .image {
    max-width: 46%;
    height: 40rem;
  }

  .s-hero .text {
    max-width: 100%;
    margin-bottom: 4rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .s-hero .text h1 {
    text-align: center;
  }

  .s-hero .text p {
    text-align: center;
  }

  .s-card-featured .all-cards {
    flex-direction: column;
  }

  .s-card-featured .all-cards .card {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 3rem;
    margin-bottom: 2rem;
  }

  .s-card-featured .all-cards .card:last-child {
    margin-bottom: 0;
  }

  .s-card-featured .all-cards .card info {
    max-width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
  header .logo {
    max-width: 130rem;
  }

  .s-hero {
    padding: 4rem 0;
  }

  .s-hero .text p {
    margin-bottom: 3rem;
  }  

  .s-hero .image {
    height: 30rem;
  }

  .s-hero .image img {
    max-width: 10rem;
  }

  h1 {
    font-size: 4.2rem;
  }

  .s-card-featured {
    padding: 4rem 0;
  }

  .s-card-featured .title p {
    text-align: center;
    max-width: 80%;
  }

  .s-card-featured .main-area {
    padding-bottom: 4rem;
  }
}


